body{
    margin: 0;
}
.parent{
    /* background: black; */
    color: white;
    font-size: 3rem;
    padding: 1rem;
    min-height: 60vh;
    /* grid */
    display: grid;
    gap: 10px;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns:  60px repeat(2, 1fr) auto; */
    /* grid-template-columns:  60px 1fr 20% 50px auto; */
    /* grid-template-columns:  repeat(3, 1fr); */
    /* grid-template-rows: 50px 500px 100px; */
    grid-template-areas: 
    "global-message global-message global-message "
    "navbar navbar navbar"
    "banner banner offer1"
    "banner banner offer2"
    "left-Side product product"
    "recent product product"
    "tags product product"
    "footer footer footer"
    ;
}


.parent > div{
    /* background: red; */
    display: grid;
    justify-content: center;
    align-items: center;
}




.global-message{
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    /* background-color:blue !important; */
    /* grid-row-start: 1;
    grid-row-end: 3; */
    /* grid-row: 2/3; */

    /* grid-column-start: 1;
    grid-column-end: 3; */
    /* grid-column: 3/4; */
    grid-area: global-message;
}
/* .item-1::before{
    content: "test";
} */
.navbar{
    background-color: red;
    grid-area: navbar;
}
.banner{
    background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(90,121,9,1) 35%, rgba(0,212,255,1) 100%);
    /* background: linear-gradient(to left, red, blue ) !important; */
    grid-area: banner;
}
.offer1{
    background-color: brown;
    grid-area: offer1;
}
.offer2{
    background-color: aqua;
    grid-area: offer2;
}
.left-Side{
    background-color: aquamarine;
    grid-area:left-Side;
}
.recent{
    background-color: chocolate;
    grid-area:recent;
}
.tags{
    /* grid-row: 1/2; */
    /* grid-column: 1/2; */
    background-color: darkmagenta;
    grid-area:tags;
}
.product{
    background: radial-gradient(red, blue);
    grid-area:product;
}

.footer{
    background-color: black;
    grid-area:footer;
}

.circle{
    width: 150px;
    height: 150px;
    background: orangered;
    border-radius: 50%;
    border: 3px solid black;
    margin: auto;
    margin-top: 5rem;
    display: none;
}

    /* ipad */
/* @media (max-width:992px){
    .parent{
        grid-template-areas: 
    "i1 i2"
    "i3 i3"
    "i4 i5"
    "i6 i6"
    "i7 i8"
    "i9 i9";
    }
    .circle{
        display: block;
    }
} */
    /* phones */
    /* @media (max-width:550px){

    } */
